<div class="card">
    <img class="card-img-top" alt="Card image" style="width:100%" data-bind="attr: { src: imageurl() }" />
    <div class="card-body product-info">
            <div class="product-info">
        <strong>
            <p class="card-title" data-bind="text: productName"></p>
        </strong>

        
        Color : <div style="display:inline-block" data-bind="foreach: {data: onlyColors(), as: 'color' }">
            <div class="card-text color-circle"
                data-bind="style: {'background-color' : color}, event: { click: $parent.selectColor.bind(color, $parent)}">
            </div>
        </div>
        <div>
            Size : <div style="display:inline-block" data-bind="foreach: {data: skuSizes, as: 'size' }, event: {onload: $parent.loadSize}">
                <span data-bind="text: size"></span>
            </div>
        </div>
        <div>
            Price :
            <span data-bind="text: price()"></span>
        </div>
    </div>
    </div>
</div>